.techStachGreenBackround > div > p {
    background-color: #46FF33;
    border-color: #46FF33;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}

.techStachGreenBackround > div> div > svg > path {
    stroke: #46FF33;
    transition-delay: 0.2s;
    transition-timing-function: ease-in-out;
}